.primary{
color: skyblue;
font-weight: 300;
font-size: 1.3rem;
}
.secondary{
color: gray;
font-weight: 500;
}
.orange{
    color: orange;
    font-size: 2rem;
    font-weight: 800;
}
.c-container{
    justify-content: space-between;
    position: relative;
    left: 9rem;
}
.c-container>div{
    flex: 2;
}
.c-right{
    width: 100%;
}
.c-left{
    gap: 0.5rem;
}
.contactModes{
    margin-top: 2rem;
    gap: 1rem;
}
.contactModes .row{
    gap: 1.5rem;
}
.image-container{
    box-shadow: 11px 0px 106px 23px rgba(13,176,37,0.75);

}
.mode{
    width: 16rem;
    padding: 1rem;
    border: 0.8px solid rgb(128, 128, 128,0.143);
    border-radius: 5px;
    gap: 1rem;
    transition: all 300ms ease-in;
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);

}
.mode .button{
    width: 100%;
    background: var(--lightBlue);
    font-size: 0.9rem;
    font-weight: 600;
    color: blue;
}
.mode>:nth-child(1){
    width: 100%;
    gap: 1.6rem;
}
.mode:hover{
    scale: 1.1;
    box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.48);
}
.mode .button:hover{
    background-color: brown;
    color: white;
    scale: 0.8;
}